
@mixin fuenteGeneral($font, $size, $aling, $decoration, $color, $overflow){

    font-family: $font;
    font-size: $size;
    text-align: $aling;
    text-decoration: $decoration;
    color: $color;
    overflow: $overflow;
}

@mixin fuenteTexto($font, $size, $aling, $decoration, $color, $overflow){

    font-family: $font;
    font-size: $size;
    text-align: $aling;
    text-decoration: $decoration;
    color: $color;
    overflow: $overflow;
}




@mixin fotoEfecto($porcentaje) {

    filter: grayscale(100%);
    transition: all 2s;

    width: $porcentaje;
    height: $porcentaje;

    &:hover{
        filter: grayscale(0);
        transform: scale(1.5);
    }

}

.fuenteTitulos{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    text-align: start;
    text-decoration: none;
    color: white;
}
.fuenteTitulos--secundario{
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    
}

$backgroundServicioss:(

    fondoFotosservicios: lightgrey,
    fondoTitulossercios: #283171,

)



