@import "genericas";

/* Variables */

$colorFondogrl: #F4F4F4;
$colorFondodetalles: #283171;
$colorLetra: #283171;


/* Aspectos comunes*/

body{
    background-color:  $colorFondogrl;
}
header, section{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
    .navbar-nav, .container-fluid{
        background-color: $colorFondogrl;
    
    }
    .navbar-toggler, .navbar-toggler-icon{
        border-color: $colorFondodetalles;
    }
}

/*Smartphone*/

@media (min-width: 576px) {

    header{
        display: flex;
        justify-content: start;
        align-content: center;

            nav{
                .navbar-brand{
                        @include fuenteGeneral(Tahoma, 16px, start, none, $colorLetra, hidden);
                        background-color: $colorFondogrl;
                    }
                .nav-link{
                         @include fuenteGeneral(Tahoma, 16px, start, none, $colorLetra, hidden);
    
                    }
                .logoHeader{

                        width: 50%;
                        height: auto;
                    }
            
                 }
    }

    section{
        .container {
        display: flex;
        justify-content: center;
        align-content: center;
        }
        h1{
            display: flex;
            justify-content: start;
            @include fuenteGeneral(Tahoma, 16px, start, none, $colorLetra, hidden);
        }
        form{
            .titulo{
                display: flex;
                justify-content: start;
                @include fuenteGeneral(Tahoma, 16px, start, underline, $colorLetra, hidden);
            }

            @include genericaContacto(10px, 10px);
            
        }
        
    }

    footer{

        @include alineacionFooter(center, center, $colorFondodetalles);
        
        @include listaFooter();
    }
    
    
}


/* Tablets */

@media (min-width: 768px) {

    header{

        align-content: center;
    
        nav{
         
            .navbar-brand{
                @include fuenteGeneral(Tahoma, 32px, start, none, $colorLetra, hidden);
            }
            .nav-link{
                @include fuenteGeneral(Tahoma, 32px, start, none, $colorLetra, hidden);
    
            }
            
        }
    }

    section{

        form{
            @include genericaContacto(15px, 15px);

            h1{
                display: flex;
                justify-content: start;
                @include fuenteGeneral(Tahoma, 16px, start, underline, $colorLetra, hidden);
            }
        }
    }

    footer{

        @include alineacionFooter(center, center, $colorFondodetalles);
        
        @include listaFooter();
    }
    
}


/* Desktop */
@media (min-width: 1200px) {
    
    header{

        align-content: center;
    
        nav{
         
            .navbar-brand{
                @include fuenteGeneral(Tahoma, 32px, start, none, $colorLetra, hidden);
            }
            .nav-link{
                @include fuenteGeneral(Tahoma, 32px, start, none, $colorLetra, hidden);
    
            }
            
        }
    }
    section {

        flex-direction: column;

        .carouselImg{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-content: center;
            margin: auto;
          
        }
        .video{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-content: center;
            margin: auto;
            padding: 20px;
        }

        h1{
            display: flex;
            justify-content: start;
            @include fuenteGeneral(Tahoma, 32px, start, underline, $colorLetra, hidden);
            margin: 10px;
            padding: 10px;
        }
    
        }
        .foto{
            @include fotoEfecto(100%);
        }
         h2{
    
            @include fuenteGeneral(Tahoma, 32px, center, none, $colorFondodetalles, hidden);
    
        }
        p{
            @include fuenteGeneral(Tahoma, 32px, start, none, $colorFondodetalles, hidden);
        }
        div{
    
            div{
                div{
    
                    h5{
                        @include fuenteGeneral(Tahoma, 32px, start, none, white, hidden);
                    }
                    div{
                        .card-title{
    
                            background-color: map-get($map: $backgroundServicioss, $key: fondoTitulossercios);
                        }
                        div{
                          .carousel-inner{
                            background-color: map-get($map: $backgroundServicioss, $key: fondoFotosservicios);
                          }
                        }
                    }
                }
            }
        }

        form{

            @include genericaContacto(20px, 20px);
            h1{
                display: flex;
                justify-content: start;
                @include fuenteGeneral(Tahoma, 32px, start, underline, $colorLetra, hidden);
            }
            width: 1140px;
            height: auto;
        }
       
    }
    footer{

        @include alineacionFooter(end, center, $colorFondodetalles);
  
        @include listaFooter();
    }

